# Ignorer les fichiers compilés
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignorer les dossiers binaires ou temporaires
bin/
obj/
tmp/

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de configuration sensibles
.env
.air.toml